@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype'); /* Regular font */
    font-weight: normal;
    font-style: normal;
  }

@font-face {
font-family: 'Roboto';
src: url('fonts/Roboto-Bold.ttf') format('truetype'); /* Bold font */
font-weight: bold;
font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts//Roboto-Black.ttf') format('truetype'); /* Bolder font */
    font-weight: 900;
    font-style: normal;
    }

    @font-face {
        font-family: 'Roboto';
        src: url('fonts//Roboto-LightItalic.ttf') format('truetype'); /* Light italic font */
        font-weight: lighter;
        font-style: italic;
        }

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    color: #e5e7eb;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding-left: 0px;
    margin-left:auto;
}

.header-links li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    color: #e5e7eb;
    justify-content: center;
    padding: 100px 200px 150px 200px;
}


.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    width: 400px;
}

.hero-subtext {
    width: 450px;
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text-section, .hero-placeholder {
    flex: 1;
}

.hero-placeholder {
    display: flex;
    background-color: darkgrey;
    justify-content: center;
    align-items: center;
}

.hero-submit {
    background-color: #3882f6;
    color: white;
    border-style: none;
    border-radius: 4px;
    padding: 10px 24px 10px 24px;
    font-weight: bold;
    font-size: 18px;
}

.information-section {
    padding: 0px 200px 100px 200px;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 35px;
    padding-bottom: 75px;
}

.border {
    border: solid 4px #3882f6;
    width: 200px; 
    height: 200px;
    border-radius: 6px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    align-items: center;
    gap: 12px;
    flex-shrink: 1;
}

.subtext {
    width: 150px;
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: lighter;
    width: 830px;
}

.quote-source {
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
    width: 830px;
    text-align: right;
    padding-right: 45px;
}


.signup-section {
    padding: 100px 200px 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    background-color: #3882f6;
    width: 1100px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signup-text {
    color: #f9faf8;
    font-size: 18px;
}

.signup-bold {
    font-weight: bold;
    font-size: 24px;
}

.signup-button {
    background-color: #3882f6;
    padding: 8px 25px;
    border: solid #f9faf8 2px;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 15px;
}


footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
    padding: 35px;
    font-size: 16px; 
}